* {
  margin: 1px;
}

.checked {
  text-decoration: line-through;
}

.tasks-wrapper {
  min-height: 100px;
}

.removed-tasks-ul {
  min-height: 100px;
  background-color: beige;
}

.hidden {
  display: none;
}


